#body{
    background-color:yellowgreen;
   
}
#all_buttons1{
    background-color: yellow;
    color: black;
    padding: 10;
    font-weight: bolder;
   
}
#all_buttons{
    background-color: yellow;
    color: black;
    width: 50;
    height: 30;
    font-weight: bolder;
    
    
}
#no1,#no2{
    width: 60%;

}
#h1{
    font-weight: bolder;
    color: black;
}